---
import Social from "@/components/Social.astro";
import html from "@/images/html.svg";
import JavaScript from "@/images/JavaScript.svg";
import TW from "@/images/Tailwind CSS.svg";
import Astroimg from "@/images/Astro.svg";
import Git from "@/images/Git.svg";
---

<div class="relative p-24 h-screen">
  <section class="flex flex-col w-full justify-center items-center">
    <h4 class="-skew-y-6 text-6xl text-primary font-[Pacifico]">
      Otros conocimientos
    </h4>
    <div class="flex flex-col md:flex-row mt-24 w-1/2 justify-center">
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src={html.src}
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src={JavaScript.src}
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src={TW.src}
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src={Astroimg.src}
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src={Git.src}
      />
    </div>
  </section>
  <Social />
</div>
